<div nz-row>
  <div nz-col nzSpan="24">
    <nz-layout>
      <nz-header class="appBar">
        <div nz-row nzJustify="center" nzAlign="middle" style="height: 100%;">
          <div nz-col nzSpan="6">
            <img src="./assets/images/logo.png" alt="Moo Deng" class="logo" />
          </div>
          <div nz-col nzSpan="12" style="height: 100%;">
            <div nz-row nzJustify="center" nzAlign="bottom" style="height: 100%;">
              <div nz-col nzSpan="24">
                <ul nz-menu nzMode="horizontal">
                  <li nz-menu-item nzMatchRouter routerLink="">
                    <span class="icon">
                      <img class="icon" src="./assets/images/home.png" alt="Home Icon" />
                    </span>
                    <span class="icon-text">
                      Home
                    </span>
                  </li>
                  <li nz-menu-item nzMatchRouter>
                    <span class="icon">
                      <img class="icon" src="./assets/images/noti.png" alt="Notification Icon" />
                    </span>
                    <span class="icon-text">
                      Notification
                    </span>
                  </li>
                  <li nz-menu-item nzMatchRouter>
                    <span class="icon">
                      <img class="icon" src="./assets/images/coupon.png" alt="Coupon Icon" />
                    </span>
                    <span class="icon-text">
                      Coupon
                    </span>
                  </li>
                  <li nz-menu-item nzMatchRouter routerLink="carts">
                    <span class="icon">
                      <img class="icon" src="./assets/images/cart.png" alt="Cart Icon" />
                    </span>
                    <span class="icon-text">
                      Cart
                    </span>
                  </li>
                  <li nz-menu-item nzMatchRouter routerLink="favoritie">
                    <span class="icon">
                      <img class="icon" src="./assets/images/fav.png" alt="Faveritie Icon" />
                    </span>
                    <span class="icon-text">
                      Favoritie
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="6" style="text-align: right;">
            <div nz-row style="height: 100%;" nzJustify="center" nzAlign="middle">
              <div nz-col nzSpan="15" nzOffset="3">
                <nz-input-group [nzSuffix]="suffixIconSearch" class="curve">
                  <input type="text" nz-input placeholder="input search text" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                  <span>
                    <img src="./assets/images/search.png" alt="Search Icon" style="height: 20px; width: 20px;" />
                  </span>
                </ng-template>
              </div>
              <div nz-col nzSpan="6">
                <img class="user-icon" src="./assets/images/user.png" alt="User Icon" nz-popover
                  nzPopoverTrigger="click" nzPopoverPlacement="bottomLeft" [nzPopoverTitle]="headerContent"
                  [(nzPopoverVisible)]="isPopMenu" [nzPopoverContent]="bodyContent" />
              </div>
            </div>
          </div>
        </div>
        <ng-template #headerContent>
          <div nzAlign="middle"
            style="border-bottom: 1px solid; padding-bottom: 10px; display: flex; align-items: center; width: 400px;">
            <div>
              <img src="../assets/images/user1.png" alt="userIcon" height="47px" />
            </div>
            <div style="margin-left: 15px; font-size: 15px; font-weight: 700;">
              Moo Deng
            </div>
          </div>
        </ng-template>
        <ng-template #bodyContent>
          <div style="width: 400px;">
            <div nz-row nzAlign="middle" routerLink="/profile">
              <div nz-col nzSpan="18" style="cursor: pointer;">
                <h4>บัญชี</h4>
              </div>
              <div nz-col nzSpan="6" style="text-align: right;cursor: pointer;">
                <h4>></h4>
              </div>
            </div>
            <div nz-row nzAlign="middle" routerLink="/profile/orders">
              <div nz-col nzSpan="18" style="cursor: pointer;">
                <h4>การสั่งซื้อล่าสุด</h4>
              </div>
              <div nz-col nzSpan="6" style="text-align: right;cursor: pointer;">
                <h4>></h4>
              </div>
            </div>
            <div nz-row nzAlign="middle" routerLink="/profile/address">
              <div nz-col nzSpan="18" style="cursor: pointer;">
                <h4>ที่อยู่ที่บันทึกไว้</h4>
              </div>
              <div nz-col nzSpan="6" style="text-align: right;cursor: pointer;">
                <h4>></h4>
              </div>
            </div>
            <div nz-row nzAlign="middle">
              <div nz-col nzSpan="18" style="cursor: pointer;">
                <h4>เปลี่ยนภาษา / Languages</h4>
              </div>
              <div nz-col nzSpan="6" style="text-align: right;cursor: pointer;">
                <nz-switch [ngModel]="true" nzCheckedChildren="TH" nzUnCheckedChildren="EN"></nz-switch>
              </div>
            </div>
            <div nz-row nzAlign="middle" (click)="signOut()">
              <div nz-col nzSpan="18" style="cursor: pointer;">
                <h4>ออกจากระบบ</h4>
              </div>
              <div nz-col nzSpan="6" style="text-align: right;cursor: pointer;">
              </div>
            </div>
          </div>
        </ng-template>
      </nz-header>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
      <nz-footer>
        <div style="text-align: center;">
          Power By Moo Deng And The Gang
        </div>
      </nz-footer>
      <nz-modal [(nzVisible)]="isVisible" nzCentered [nzBodyStyle]="modelContentStyle" nzClosable="false"
        [nzFooter]="footer">
        <ng-container *nzModalContent>
          <div nz-row nzJustify="center" style="margin-top: 20px; height: 40%;">
            <div nz-col>
              <img src="./assets/images/logo.png" alt="Moo Deng" height="221px" />
            </div>
          </div>
          <div nz-row nzJustify="center" nzAlign="middle" style="height: 50%;">
            <div nz-col nzSpan="18">
              <form #loginForm="ngForm" nz-form (ngSubmit)="submitForm(loginForm)">
                <nz-form-item nzJustify="center" style="margin: 10px 0px;">
                  <nz-form-control nzSpan="24" nzHasFeedback nzErrorTip="Please input your email">
                    <nz-input-group nzPrefixIcon="user" class="input-login-modal">
                      <input id="email" name="email" nz-input type="text" placeholder="อีเมลล์" [(ngModel)]="email"
                        required />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item nzJustify="center" style="margin: 10px 0px;">
                  <nz-form-control nzSpan="24" nzHasFeedback nzErrorTip="Please input your password">
                    <nz-input-group nzPrefixIcon="lock" class="input-login-modal">
                      <input id="password" name="password" nz-input type="password" placeholder="รหัสผ่าน"
                        [(ngModel)]="password" required />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <div nz-row nzJustify="center" style="padding: 10px 0px;">
                  <div nz-col nzSpan="22">
                    <button nz-button class="curve login-modal-btn login-btn" id="loginBtn" type="submit"
                      nzType="primary" [nzLoading]="isSubmit">
                      @if (isRegister) {
                      ลงทะเบียน
                      } @else {
                      เข้าสู่ระบบ
                      }
                    </button>
                  </div>
                </div>
              </form>
              <div nz-row nzJustify="center" style="padding: 10px 0px;">
                <div nz-col nzSpan="22">
                  <button nz-button class="curve login-modal-btn" id="registerBtn" nzType="default"
                    (click)="toggleIsRegister(loginForm)">
                    @if (isRegister) {
                    ย้อนกลับ
                    } @else {
                    สมัครสมาชิก
                    }
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </nz-modal>
    </nz-layout>
  </div>
</div>